/* Snell Roundhand Static Font */
@font-face {
  font-family: "Snell-Bold";
  src: url("/fonts/Snell-Bold-SF.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
  unicode-range: U+0020-007E,U+00A1-00A3,U+00A5,U+00A7-00AB,U+00AE-00B0,U+00B4,U+00B6-00B8,U+00BA-00BB,U+00BF-0107,U+010A-0113,U+0116-011B,U+011E-0123,U+0127,U+012A-012B,U+012E-0131,U+0136-0137,U+0139-013E,U+0141-0148,U+0150-0155,U+0158-015B,U+015E-0161,U+0164-0165,U+016A-016B,U+016E-017E,U+0218-021B,U+02BC,U+02C6-02C7,U+02D8-02DD,U+0300-0304,U+0306-0308,U+030A-030C,U+0326-0328,U+0374-0375,U+037E,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03CF,U+03D7,U+0401-0402,U+0404,U+0406-040B,U+040E-044F,U+0451-0452,U+0454,U+0456-045B,U+045E-045F,U+0490-0493,U+0496-0497,U+049A-049B,U+04A2-04A3,U+04AE-04B3,U+04B6-04B7,U+04BA-04BB,U+04D8-04D9,U+04E2-04E3,U+04E8-04E9,U+04EE-04EF,U+1E80-1E85,U+1EF2-1EF3,U+2013-2014,U+2018-201A,U+201C-201E,U+2022,U+2026,U+2039-203A,U+20AC,U+2122,U+2212;
}
@font-face {
  font-family: "Snell-Black";
  src: url("/fonts/Snell-Black-SF.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  unicode-range: U+0020-007E,U+00A1-00A3,U+00A5,U+00A7-00AB,U+00AE-00B0,U+00B4,U+00B6-00B8,U+00BA-00BB,U+00BF-0107,U+010A-0113,U+0116-011B,U+011E-0123,U+0127,U+012A-012B,U+012E-0131,U+0136-0137,U+0139-013E,U+0141-0148,U+0150-0155,U+0158-015B,U+015E-0161,U+0164-0165,U+016A-016B,U+016E-017E,U+0218-021A,U+02BC,U+02C6-02C7,U+02D8-02DD,U+0300-0304,U+0306-0308,U+030A-030C,U+0327-0328,U+0374-0375,U+037E,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03CF,U+03D7,U+0401-0402,U+0404,U+0406-040B,U+040E-044F,U+0451-0452,U+0454,U+0456-045B,U+045E-045F,U+0490-0493,U+0496-0497,U+049A-049B,U+04A2-04A3,U+04AE-04B3,U+04B6-04B7,U+04BA-04BB,U+04D8-04D9,U+04E2-04E3,U+04E8-04E9,U+04EE-04EF,U+1E80-1E85,U+1EF2-1EF3,U+2013-2014,U+2018-201A,U+201C-201E,U+2022,U+2026,U+2039-203A,U+20AC,U+2122,U+2212;
}

/* Source Serif 4 Variable Font (Latin) */
@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/source-serif-4-v14-latin-regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

/* Source Han Serif CN Variable Font (CJK Simplified Chinese) */
@font-face {
  font-family: "Source Han Serif CN";
  src: url("/fonts/SourceHanSerifCN-VF.ttf.woff2") format("woff2");
  font-display: swap;
  font-weight: 250 900;
}

